:root{
    --bgColor: #f5f5f5;
    --primaryColor: #fe2469;
    --txtColor:#222222;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: var(--bgColor) ! important;
}
.navbar-brand{
    color: #fe2469;
    font-size: 2rem;
}
.nav-link{
    font-size: 1.2rem;
    color: black ! important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: var(--txtColor);
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* cards */

.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1 rem !important;
    width: 100%;
    object-fit: cover ! important;
}

.card-body {
    padding: 0 ! important;
}
.card-text p {
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */

/* .card :hover{

} */

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Show Page */
.show-img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: 1 rem !important;
    margin-bottom: 2rem;
}

.btns{
    display: flex;
    
}
.card-text{
    padding: 1rem;
}